
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<br />

@using (Html.BeginForm("Index", "Product", FormMethod.Post))
{
    <p>
        Ürün Adı:@Html.TextBox("p")
        <input type="submit" value="Search" />
    </p>
}
<br />
<table class="table table-bordered">
    <tr>
        <th>MARKA</th>
        <th>ÜRÜN</th>
        <th>STOK</th>
        <th>ALIŞ FİYAT</th>
        <th>SATIŞ FİYAT</th>
        <th>KATEGORİ</th>
        <th>SİL</th>
        <th>Güncelle</th>
        <th>Satış Yap</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.ProductName</td>
            <td>@u.Brand</td>
            <td>@u.Stock</td>
            <td>@u.PurchasePrice $</td>
            <td>@u.SalePrice $</td>
            <td>@u.category.CategoryName</td>
            <td>
                <a href="/Product/ProductDelete/@u.ProductId" class="btn btn-danger">SİL</a>
            </td>
            <td>
                <a href="/Product/ProductGet/@u.ProductId" class="btn btn-success">Güncelle</a>
            </td>
            <td>
                <a href="/Product/ProductDo/@u.ProductId" class="btn btn-default" style="background-color:#0026ff">Satış Yap</a>
            </td>
        </tr>
     }
</table>
<a href="/Product/NewProduct/" class="btn btn-info">yeni ürün</a>

