@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<CargoDetail>
@{
    ViewBag.Title = "CargoTracking";
    Layout = "~/Views/Shared/_CurrentLayout.cshtml";
}
@using (Html.BeginForm("CargoTracking", "CurrentPanel", FormMethod.Post))
{
    <p>
        Kargo Takip No:@Html.TextBox("p")
        <input type="submit" value="Search" />
    </p>}
<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Kargo Takip Kodu</th>
        <th>Detaylar</th>

    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Employee</td>
            <td>@k.Receiver</td>
            <td>@k.Date</td>
            <td>@k.TrackingCode</td>
            <td>@k.Receiver</td>



            <td><a href="/Cargo/CargoTracking/@k.TrackingCode" class="btn btn-default" style="background-color:lightcoral;color:white;font:italic">Detaylar</a></td>

        </tr>
    }
</table>